:root {
    --deep-border-radius: 6px;
    --deep-border-color: #31323C;
    --deep-border-color-1: #494a58;
    --deep-border: 1px solid #31323C; 
    --deep-border-tab: 1px solid #383A45;
    --deep-border-top-tab-active: #94527E;
    --deep-bg-color-tab-out-focus: #191A21;
    --deep-bg-color: #21222C;
    --deep-bg-color-inside: #282A36;
    --deep-bg-color-footer: #191A21;
    --deep-color-1: #6272A4;
    --deep-indigo: #6610f2;
    --deep-indigo-100: #E0CFFC;
    --deep-indigo-200: #C29FFA;
    --deep-indigo-300: #A370F7;
    --deep-indigo-400: #8540F5;
    --deep-indigo-500: #6610F2;
    --deep-indigo-600: #520DC2;
    --deep-indigo-700: #3D0A91;
    --deep-indigo-800: #290661;
    --deep-indigo-900: #140330;

}
.deep {
    display: grid;
    gap: 5px;
    grid-template-rows: 44px calc(100vh - (44px + 24px + (5px + 5px))) 24px;
    grid-template-columns: 44px calc(100vw - (44px + (5px + 5px)));
    grid-template-areas: "deep-header  deep-header"
                         "deep-aside   deep-principal"
                         "deep-footer  deep-footer";
    overflow: hidden;
    background: var(--deep-bg-color);
}
.deep-header {
    grid-area: deep-header;
}
.deep-aside {
    grid-area: deep-aside;
    display: flex;
    flex-direction: column;
}
.deep-aside button {
    margin-left: 5px;
    margin-bottom: 5px;
}
#deep-expector {
    border-radius: var(--deep-border-radius);
    border: var(--deep-border);
    overflow-x: auto;
}
.deep-principal {
    grid-area: deep-principal;
}
#deep-expector li {
    white-space:nowrap;
}
#deep-main {
    background-color: var(--deep-bg-color-inside);
    border-radius: var(--deep-border-radius);
    border: var(--deep-border);
    width: calc(100vw - (265px + 44px + 5px + 5px + 5px));
}
.deep-footer {
    grid-area: deep-footer;
    background-color: var(--deep-bg-color-footer);
}
.deep-tabs {
    display: flex;
    height: 36px;
    width: 100%;
}
.deep-bradcrumbs {
    display: flex;
    height: 38px;
    width: 100%;
    color: var(--deep-color-1);
    font-size: .8rem;
    padding-left: 10px;
}
.deep-bradcrumbs span {
    flex: 1;
    align-self: center;
}
.deep-editors {
    display: flex;
    height: 100%;
    width: 100%;
}
.deep-txt {
    color: var(--deep-color-1);
    font-size: .8rem;
}
.deep-list{
    list-style: none;
}
.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: transparent;
    border: var(--deep-border-tab);
    border-top: 1px solid var(--deep-border-top-tab-active);
}
.nav-pills .nav-link {
    margin: 5px 3px;
    padding: 0.25rem 0.7rem;
    font-weight: 500;
    color: var(--deep-color-1);
    background-color: var(--deep-bg-color);
    border: 1px solid var(--deep-bg-color);
}
.bi-javascript {
    color: yellow;
}
.bi-hash {
    color: blueviolet;
}
.bi-code-slash {
    color: olivedrab;
}
.btn-deep-aside {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--deep-color-1);
}
.btn:hover {
    color: var(--deep-color-1);
}
.btn-check:checked+.btn, 
.btn.active, 
.btn.show, 
.btn:first-child:active, 
:not(.btn-check)+.btn:active {
    color: var(--deep-color-1);
}
.btn-deep-aside:active,
.btn-deep-aside:focus {
    background-color: #39394C;
    border: 1px solid #39394C;
}
.btn-deep-aside:hover {
    background-color: #39394C;
    border: 1px solid #39394C;
}
.navbar {
    padding: 0 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: rgb(233, 233, 233);
    border-radius: 20px; 
}
   
::-webkit-scrollbar-thumb {
    background: #c7c8ca;
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185); 
}

.monaco-editor {
    height: 100% !important;
    width: 100% !important;
}

.tab-pane{
    width: calc(100% - 12px);
    height: calc(100vh - 165px);
}

.dropdown-menu {
    --bs-dropdown-font-size: 0.8rem;
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --bd-purple: #4c0bce;
    --bd-violet: #9561fb;
    --bd-violet-bg: #712cf9;
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: #282a36;/*#212529;*/
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(222, 226, 230, 0.75);
    --bs-secondary-color-rgb: 222, 226, 230;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222, 226, 230;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
}

.deep-bradcrumbs span {
    cursor: pointer;
}

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.dropdown-menu-dark {
    --bs-dropdown-bg: var(--bs-body-bg);
}

.custom-treeview-wrapper {
    background-color: transparent;
    border: 0px;
    padding: 0px 5px;
    border-radius: 5px;
    max-width: 600px;
    margin: 5px auto;
    box-shadow: none;
    font-size: 0.85rem;
}

.custom-treeview-wrapper > ul {
    padding-left: 0px;
}
.custom-treeview-wrapper .treeview-node-content {
    padding: 0; 
}

.treeview-search-input{
    padding: .35rem .5rem !important;
}
.treeview-expander-placeholder {
    width: 10px;
}

.bi-database {
    color: #3DC9B0;
}

.bi-braces {
    color: #FF6F61;
}

.bi-folder-fill {
    color: #FFD679 !important;
}

.bi-search {
    color: #FFF !important;
}

.form-label,
.form-check-label {
    color: var(--deep-color-1);
}

div.dt-container .dt-length, 
div.dt-container .dt-search, 
div.dt-container .dt-info, 
div.dt-container .dt-processing, 
div.dt-container .dt-paging {
    color: var(--deep-color-1) !important;
}

.btn-bd-violet {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6628e0;
    --bs-btn-hover-border-color: #6628e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c7;
    --bs-btn-active-border-color: #5a23c7;
}
